# pandas

Great cheatsheet: https://drive.google.com/drive/u/1/folders/0ByIrJAE4KMTtaGhRcXkxNHhmY2M

In [1]:
import pandas as pd

## Dictionary

In [5]:
print('Building a dataframe from a dictionary')

albums_dict = {'Al':['A','B','C'],
               'Year':['2000','2001','2003'],
               'Len':['5','10','20']}

songs_df = pd.DataFrame(albums_dict)
songs_df

Building a dataframe from a dictionary

  Al  Year Len
0  A  2000   5
1  B  2001  10
2  C  2003  20

In [7]:
# creating a new df with only selected columns
df = songs_df[['Year','Len']]
df

   Year Len
0  2000   5
1  2001  10
2  2003  20

## Series - S

In [ ]:
len(S)

S_filtered = S[ S < 100 ]  # filters only values < 100

# create a Series with a loop from scratch, add elements to Series
IPM_years = [2006, 2007, 2008, 2009, 2019, 2011, 2012, 2013, 2014, 2015, 2016]
IPM_file_names = pd.Series()
for IPM_yr in IPM_years:
    IPM_file_name = 'IPM full database/' + str(IPM_yr) + 'Poles.xlsx'
    IPM_file_names.at[IPM_yr] = IPM_file_name

In [ ]:
# create and add elements to a list: (no need to create the empty list first)
s['2000'] = 100

In [ ]:
# File dump: Output a series or a piece of df to a text file

msg = df.Column.value_counts().to_string()     # index=False, justify='left'  if it's a piece of df: df[df.Column == value]
with open("msg.txt", "w") as text_file:
    text_file.write(msg)

## Dataframe - df

http://wavedatalab.github.io/datawithpython/munge.html

https://towardsdatascience.com/23-great-pandas-codes-for-data-scientists-cca5ed9d8a38

Very good cheatsheet: https://drive.google.com/drive/u/1/folders/0ByIrJAE4KMTtaGhRcXkxNHhmY2M

In [ ]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]}, index=['Portland', 'Berkeley'])

df = df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)

print(df)

In [ ]:
Create an empty dataframe:
Empty_array = []
MyEmptydf = pd.DataFrame()           # new empty df
Empty_Series = pd.Series([])              # new empty Series

df = pd.DataFrame(columns=['X', 'Y', 'Z'])   # with defined columns
df.loc[len(df)] = [1, 2, 3] to add values - simplest case, not robust

In [ ]:
df.shape        # number of rows and columns in the dataset
df.shape[0]     # rows
len(df)         # number of rows in the dataset

df.columns
List_of_columns = list(df.columns.values)

# To get the index and columns as lists, we can use the tolist() method:
df.columns.tolist()
df.index.tolist()


df.info()

df.describe(include='all') #  shows a quick statistic summary of your data
df['Column_Name'].describe() #  shows a quick statistic summary of the column
df['Column_Name'].idmax() # shows the index id of the max value

df.rename(columns={'old' : 'new'}, inplace=True) # rename columns

df.dtypes  # obtain datatypes for every column
df['col_name'] = df['col_name'].astype('int')  type cast

pd.to_datetime  # cast column format from object to datetime

In [ ]:
# Set the country name as index - useful for quickly looking up countries using .loc method

df.set_index('Country', inplace=True)

### Delete rows and columns

In [ ]:
del df['col_name'] # remove a column
df.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)  # other way to drop unneeded colums

delete-rows-from-df-based-on-a-conditional-expression

https://stackoverflow.com/questions/13851535/delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression-involving

Dropping Rows And Columns

https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/

### Files I/O

Data Format | READ | SAVE
--- | ---  | ---
csv | pd.read_csv() | df.to_csv()
json | pd.read_json() | df.to_json()
Excel | pd.read_excel() | df.to_excel()
sql | pd.read_sql() | df.to_sql()

In [ ]:
file='files.csv'
df = pd.read_csv(file, sep=';', nrows=10, usecols=['Col name 1','Col name 2'])  
# or import everything and then filter the columns you want
# Use index_col=0 to use first column as index.

If there is no header, you can then add the header with:
hearders=["column A", "column B", â€¦]
df.columns=headers

In Save use option index=False
df.to_csv('file.csv', index=False)

### Selection

In [ ]:
df2 = df[['Year', 'Class']]  # create a df with only selected columns
df3 = df['Year'] is a series
df3 = df[['Year']] is a dataframe

df[:5] # show first 5 rows
df[-5:] # show last 5 rows
OR
df.head()
df.tail(3)

In [ ]:
df['Year'].unique()   # creates an array of unique values
df.Colum_name.nunique()  # Count unique values

In [ ]:
value_counts(dropna=False).to_frame()  # converted to dataframe

df.replace(['#', 'UNKNOWN'], np.nan, inplace=True)   replaces values on entire df
df['Year of Construction'].replace([0, 1900, 1878, 1911, 1860, 1851, 199], np.nan, inplace=True)  replaces value on one column


df['Col_name'] = 4   # create a column with same value

df = df.assign(new_columns = df['existing_column'] * 2)

In [ ]:
df = df[pd.notnull(df['Col_name'])] # select only rows where Loc is not NaN, not null
df1 = df[df['col_name'] == value]    # creates a new df with only the rows that meet the criteria

For more options see select-rows-in-dataframe-by-conditions-on-multiple-columns
https://thispointer.com/python-pandas-select-rows-in-dataframe-by-conditions-on-multiple-columns/

In [ ]:
FIND / SEARCH

df.loc[lambda df: df['Col_name'] == 10409994]  # find / search, show the row where Col_name field has a specific value
df.at[value, 'Column_Name']
df[df['Col_name'] == 10409994]    # simpler
df[index_nr]  find record by index

df[df['id'].isin(['a','b'])] # search multiple values

# compare two df, check common records
df1['col_name1'].isin(df2['col_name2']).value_counts()


df[df['col_name'].isin(list_of_id)]

df[df['A'].str.contains("hello")]   # select rows by partial string

# select with multiple causes
check_recipes = recipes.loc[
    (recipes["rice"] == 1) &
    (recipes["soy_sauce"] == 1) &
    (recipes["wasabi"] == 1) &
    (recipes["seaweed"] == 1)
]   # selects the rows in recipes where the indicated columns have value == 1

In [ ]:
# sort df over a column

df.sort_values(by=['col1'])

In [ ]:
# Iterate through dataframe:
for index, row in df.iterrows():
    print(row['c1'], row['c2'])

### lambda function

In [ ]:
df['col_2'] = df[['col1']].apply(lambda x: f(x['col1']) , axis=1 )
df['col_3'] = df.apply(lambda x: f(x.col_1, x.col_2), axis=1)
df2['HI'] = df2.apply(lambda x: HI_total(x.HI_condition, x.DR_value) , axis=1 )
df['new_col'] = df(lambda row: f(row) , axis=1 )  # in f(r) access column values as r.col1, r.col2

how-to-apply-a-function-to-two-columns-of-pandas-dataframe

https://stackoverflow.com/questions/13331698/how-to-apply-a-function-to-two-columns-of-pandas-dataframe

Tip to speed up the apply

https://towardsdatascience.com/add-this-single-word-to-make-your-pandas-apply-faster-90ee2fffe9e8    
https://www.kdnuggets.com/2019/11/speed-up-pandas-4x.html

### null NaN, duplicates

In [ ]:
# Representation of missig values:

np.nan - for floats
None - for objects
pd.NaT - for date and time

pd.NA - for any type; new feature in pandas 1.0; still experimental feature

s.isna() will say True

For convert column to nullable integers use:  (to avoid that 1 becomes 1.0 just because there are NaN)
df['myCol'] = df['myCol'].astype('Int64')

In [ ]:
df[df.isna().any(axis=1)]   # Display rows with one or more columns NaN values , null

df.col1.isnull().sum()    # count the null
df.dropna(subset=['col1'], inplace=True)    # drop rows with unknown col1

In [ ]:
df1.duplicated(subset='A', keep='first').sum()    # count duplicates in column A

df = df.drop_duplicates('column_name', keep='last')  # drop duplicates based on one column

### Mix

In [ ]:
# Combine rows (see notebook DS Capstone project)
df = df.groupby(['Postcode', 'Borough'], sort=False)['Neighbourhood'].apply(','.join).reset_index()    
# aggregates values of Neighbourhood

In [ ]:
df['weekend'] = df['dayofweek'].apply(lambda x: 1 if (x>3)  else 0)    boolean test on a column

# convert male to 0 and female to 1:
df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)

# identify and remove rows where values in a column are not numeric, as expected; then cast to int
df = cell_df[pd.to_numeric(cell_df['ColX'], errors='coerce').notnull()]
df['ColX'] = cell_df['ColX'].astype('int')

In [ ]:
To create a column with total sum values of columns:
df['Total'] = df.sum(axis=1)  # adds all numeric columns

### Indexing and selecting data

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

Important article: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html  

How to access row/columns in df

Read it periodically and practice

See good code in notebooks in: C:\UserData\paoli-s\To Backup\Private\Business Analytics\Courses\IBM Data Science Specialization\7 - Data Visualization with Python

In [ ]:
# Boolean indexing

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing
    
#The operators are:Â |Â forÂ OR,Â &Â forÂ AND, andÂ ~Â forÂ NOT. These must be grouped by using parentheses.

### Plotting

In [ ]:
df[["a1", "a2"]].plot(bins=30, kind="hist")    # simplest histogram
# To create two separate plots, we set subplots=True

Many examples:
https://towardsdatascience.com/exploratory-data-analysis-with-pandas-508a5e8a5964

### merge and pivots , index

In [8]:
file_name = 'sample_data/Simple.txt'
data = pd.read_csv(file_name, delimiter=';')

In [9]:
data

   Comune Lista  Voti
0  Milano    PD    10
1  Milano   UDC    20
2    Roma    PD    10
3    Roma   UDC    20
4    Roma    FI    40

In [10]:
df = data.set_index('Comune')
df

       Lista  Voti
Comune
Milano    PD    10
Milano   UDC    20
Roma      PD    10
Roma     UDC    20
Roma      FI    40

In [11]:
df.unstack(level=-1)

       Comune
Lista  Milano      PD
       Milano     UDC
       Roma        PD
       Roma       UDC
       Roma        FI
Voti   Milano      10
       Milano      20
       Roma        10
       Roma        20
       Roma        40
dtype: object

In [12]:
df.reset_index()

   Comune Lista  Voti
0  Milano    PD    10
1  Milano   UDC    20
2    Roma    PD    10
3    Roma   UDC    20
4    Roma    FI    40

In [13]:
data.pivot(index='Comune', columns='Lista', values='Voti')

Lista     FI    PD   UDC
Comune
Milano   NaN  10.0  20.0
Roma    40.0  10.0  20.0

#### More complex case, with repeated rows, to aggregate

In [16]:
file_name = 'sample_data/Simple2.txt'
data = pd.read_csv(file_name, delimiter=';') 
data

   Comune Lista  Voti
0  Milano    PD    10
1  Milano    PD    15
2  Milano   UDC    20
3    Roma    PD    10
4    Roma   UDC    20
5    Roma    FI    40

In [21]:
data2 = data.groupby(['Comune', 'Lista']).agg({"Voti": "sum"})
data2

              Voti
Comune Lista
Milano  PD      25
        UDC     20
Roma    FI      40
        PD      10
        UDC     20

In [23]:
data2.reset_index(inplace=True)
data2

   index  Comune Lista  Voti
0      0  Milano    PD    25
1      1  Milano   UDC    20
2      2    Roma    FI    40
3      3    Roma    PD    10
4      4    Roma   UDC    20

In [24]:
data2.pivot(index='Comune', columns='Lista', values='Voti')

Lista     FI    PD   UDC
Comune
Milano   NaN  25.0  20.0
Roma    40.0  10.0  20.0